/* Variables */
$card-bg-color: transparent;
$card-border-radius: 8px;
$primary-color: #007bff;
$secondary-color: #6c757d;
$font-family: 'Montserrat', sans-serif;
$gap: 30px;

/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Reusable Container */
#event-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $gap;
  margin: 0 auto;
  padding: 0;
}

.noeventsfound {
  color: #DC56C5;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hidden-pagination {
  display: none;
}

/* Event Card Styles */
.event-card {
  position: relative;
  background-color: $card-bg-color;
  border-radius: $card-border-radius;
  width: 100%;
  min-height: 208px;
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  transition: transform 0.3s ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.1);
    cursor: pointer;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 35%;
    width: 102px;
    height: 95px;
    border: 2px solid rgba(220, 86, 197, 0.3);
    border-radius: 50px 0px;
    z-index: 1;
  }

  &-image {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50px 0px;
    object-fit: cover;
    margin-top: 10px;
    box-shadow: -25px -10px 15px -25px var(--cloud);
  }

  &-name {
    color: #dc56c5;
    font-size: 14px;
    font-weight: 700;
    margin: 5px 0;
    font-family: $font-family;
  }

  &-date {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    font-family: $font-family;
  }

  &-place {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    font-family: $font-family;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 16px;
      background-image: url("data:image/svg+xml;utf8,<svg fill='%23f5f4f4' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 425.963 425.963'><path d='M213.285,0h-0.608C139.114,0,79.268,59.826,79.268,133.361c0,48.202,21.952,111.817,65.246,189.081c32.098,57.281,64.646,101.152,64.972,101.588c0.906,1.217,2.334,1.934,3.847,1.934c0.043,0,0.087,0,0.13-0.002c1.561-0.043,3.002-0.842,3.868-2.143c0.321-0.486,32.637-49.287,64.517-108.976c43.03-80.563,64.848-141.624,64.848-181.482C346.693,59.825,286.846,0,213.285,0z M274.865,136.62c0,34.124-27.761,61.884-61.885,61.884c-34.123,0-61.884-27.761-61.884-61.884s27.761-61.884,61.884-61.884C247.104,74.736,274.865,102.497,274.865,136.62z'/></svg>");
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 8px;
      vertical-align: middle;
    }
  }
}

/* Booster Section */
.booster {
  margin-top: -60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Not Found Placeholder */
.notfound {
  display: none;
  height: 40vh;
  color: var(--cloud);
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  font-family: $font-family;
}

/* Tablet Media Query */
@media screen and (min-width: $tablet-width) {
  #event-cards {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 52px;
  }


  .event-card {
    min-height: 211px;

    &::after {
      width: 120px;
      height: 112px;
      left: 30%;
    }

    &-image {
      width: 141px;
      height: 120px;
    }

    &-place::before {
      width: 10px;
      height: 15px;
    }
  }

  .booster {
    margin-top: -90px;
  }
}

/* Desktop Media Query */
@media screen and (min-width: $desktop-width) {
  #event-cards {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
  }


  .event-card {
    width: 288px;
    min-height: 320px;

    &::after {
      width: 227px;
      height: 213px;
      top: 0px;
      left: 30%;
    }

    &-image {
      width: 267px;
      height: 226.244px;
    }
  }
}
