@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
  --font-family: 'Montserrat', sans-serif;
  --font-family-hero: 'Playfair Display', serif;
  --Blue-font: #0a224a;
  --White: #ffffff;
}

$desktop-width: 1280px;
$tablet-width: 768px;

.body-background {
  background-color: #0e0e0e;
  background-image: url('../images/background/bg-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;

  @media screen and (min-width: 768px) {
      background-image: url('../images/background/bg-tablet.png');
  }

  @media screen and (min-width: $desktop-width) {
      background-image: url('../images/background/bg-desktop.jpg');
      background-position: bottom 0px right 50%;
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html,
body {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #0a224a;
}

h1 {
  font-family: var(--font-family-hero);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
}

button,
input,
select,
textarea {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
