.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: opacity 0.75s, visibility 1.75s;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 250px;
    height: 250px;
    border: 25px solid #DC56C5;;
    border-top-color:#dddddd;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

.loader-text {
    position: absolute;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    text-align: center;
    z-index: 1;
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}