/* Media queries for screens wider than 320px */
@media screen and (min-width: $mobile-width) {

/* Modal overlay */
.event-modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #200D1D99;
  backdrop-filter: blur(3px);
  z-index: 999;
}

/* Modal */
.event-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 280px;
  height: 952px;
  background-color: #FFF2FD;
  border: 1px solid #4C00FE;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 300px 0px;
  overflow: hidden;
}

.event-modal-content {
  height: 100%;
  box-sizing: border-box;
}

#modal-event-details {
  display: flex;;
  flex-direction: column;
  align-items: center;
}

.event-close-btn {
  position: absolute;
  cursor: pointer;
  color: #4C00FE;
  width: 17px;
  height: 17px;
  top: 24px;
  right: 24px;

}

.event-close-btn img {
  width: 100%;
  height: auto;
  transition: transform 0.8s, filter 0.3s;
}

.event-close-btn img:hover {
  transform: scale(1.1);
  filter: brightness(1.5);
}


.pic-circle {
  display: flex;
  align-self: center;
  width: 102px;
  height: 102px;
  border-radius: 50%;
  overflow: hidden;
  margin: 80px auto 20px auto;
}

.pic-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

/* Ascunde imaginea din div-ul pic pe dispozitive mobile */ 
.pic { 
  display: none; 
}

.upper-right-modal-details {
  display: flex;
    flex-direction: column;
    align-items: center;
}


.modal-details {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: 0px;
}

.modal-info {
  width: 243px;
  height: auto;
  overflow: block; 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-event-details p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
 }

.modal-info strong, .when strong, .where strong, .who strong, .prices strong {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 29.26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #DC56C5;
}

.event-info {
  width: 243px;
  max-height: 100px;
  overflow: auto;
  overflow-y: scroll; 
  white-space: normal; 
  word-wrap: break-word;
}

/* Scrollbar 'event-info' */
.event-info::-webkit-scrollbar {
  width: 8px; 
  height: 8px;
}

.event-info::-webkit-scrollbar-thumb {
  background-color: #FFF2FD; 
  border-radius: 4px; 
}

.event-info::-webkit-scrollbar-track {
  background: #FFF2FD; 
}

.event-info p, .when p, .where p, .who p, .prices p {
  color: #0E0E0E;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.when, .where {
  width: 178px;
  height: 72px;
}

.when, .where, .prices, {
  margin-top: 16px;
}

.modal-info, .where, .when {
  text-align: center;
}

.who {
  margin-top: auto;
 }

.when, .where {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.when-info { 
  max-height: 40px; 
  overflow-y: auto; 
  white-space: normal; 
  word-wrap: break-word; 
  gap: 3px;
} 

/* Scroll bar 'when-info' */ 
.when-info::-webkit-scrollbar { 
  width: 8px; 
  height: 8px; 
} 

.when-info::-webkit-scrollbar-thumb { 
  background-color: #FFF2FD;
  border-radius: 4px;
} 

.when-info::-webkit-scrollbar-track { 
  background: #FFF2FD; 
}

.where-info {
  width: 178px;
  max-height: 40px;
  overflow: auto;
  overflow-y: scroll; 
  white-space: normal; 
  word-wrap: break-word;
}

/* Scroll bar 'where-info' */ 
.where-info::-webkit-scrollbar { 
  width: 8px; 
  height: 8px; 
} 

.where-info::-webkit-scrollbar-thumb { 
  background-color: #FFF2FD;
  border-radius: 4px;
} 

.where-info::-webkit-scrollbar-track { 
  background: #FFF2FD; 
}

.who {
  text-align: center;
}

.prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 221px;
  height: auto;
}

.prices-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  vertical-align: top;
  gap: 16px;

}

.price-list {
  display: flex;
  justify-content: space-between;
}

.price-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.prices .price-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
}

.standard-price, .vip-price {
  height: 20px;
  overflow: auto;
  overflow-y: scroll; 
  white-space: normal; 
  word-wrap: break-word;
}

.standard-price::-webkit-scrollbar { 
  width: 8px; 
  height: 8px; 
}

.vip-price::-webkit-scrollbar { 
  width: 8px; 
  height: 8px; 
}

.standard-price::-webkit-scrollbar-thumb { 
  background-color: #FFF2FD;
  border-radius: 4px;
}

.vip-price::-webkit-scrollbar-thumb { 
  background-color: #FFF2FD;
  border-radius: 4px;
}

.standard-price::-webkit-scrollbar-track { 
  background: #FFF2FD; 
}

.vip-price::-webkit-scrollbar-track { 
  background: #FFF2FD; 
}

.price-item p {
  display: inline-block;
  overflow: hidden; 
  text-overflow: ellipsis;
  max-width: 184px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.94px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
} 

.barcode {
  width: 24px;
  height: 16px;
  margin-right: 2px;
  background: url('../images/barcode.svg') no-repeat center center;
  background-size: contain;
}

#buyStandardButton, #buyVipButton {
  background-color: #4C00FE;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 145px;
  height: 40px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  transition: transform 0.8s ease, 
  background-color 0.8s ease;
}

#buyStandardButton:hover, #buyVipButton:hover {
  background-color: #FFF2FD;
  color: #4C00FE;
  border: 1px solid #4C00FE;
  transform: scale(0.95);
}

.more-button {
  width: calc(100% - 58px);
  height: 40px;
  text-align: center;
  margin-top: 16px;
  background-color: #FFF2FD;
  color: #4C00FE;
  border: 1px solid #4C00FE;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.8s ease, background-color 0.8s ease;
  font-size: 16px;
}

.more-button:hover {
  background-color: #4C00FE;
  color: #FFF2FD;
  transform: scale(0.95);
}

.no-tickets {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

// Modal animation
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-left-color: #dc56c5;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  animation: spin 2s linear infinite;
  display: none;
  position: absolute;
  top: 20%;
  right: 7%;
  transform: translateY(-50%);
  box-shadow: 10px 10px 10px 20px rgba(233, 80, 217, 0.9);
}

@keyframes spin {
  from {
    transform: translate(-50%) rotate(0deg);
  }
  to {
    transform: translate(-50%) rotate(360deg);
  }
}
}

/* Media queries for screens wider than 768px */
@media screen and (min-width: $tablet-width) {
.event-modal {
  width: 704px;
  height: 781px;
  border: 1px solid #DC56C5;
}

.event-modal-content {
  padding: 20px;
}

#modal-event-details {
  align-items: flex-start;
  margin-left: 87px;
}

.modal-details {
  margin-left: 32px;
}

.upper-modal-details {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.upper-right-modal-details {
  align-items: flex-start;
}

.event-content {
  flex-direction: column;
  align-items: flex-start;
}

.pic-circle {
width: 70px;
height: 70px;
margin: 32px 317px 40px 317px;
}

.pic {
display: block;
max-width: 249px;
max-height: 217px;
}

.pic img {
  height: 217px;
}


.modal-info {
  height: 129px;
}

.modal-details {
  align-items: flex-start;
  text-align: left;
}

.modal-info, .when, .where {
align-items: flex-start;
text-align: start;
}

.when-info {
  width: 243px;
}
.where {
  width: 100%;
}

.where-info {
  width: 100%;
}

.who {
  text-align: left;
  margin-top: 0px;
}

.prices {
  width: 543px;
  height: 105px;
  align-items: flex-start;
  color: black;
}

.prices .price-item {
  align-items: flex-start;
}

.prices-container {
  flex-direction: row;
  gap: 42px;
}

.price-item p {
  text-align: left;
  max-width: 242px;
}

.more-button {
  width: 255px;
  margin-top: 60px;
  margin-left: 129px;
}
}

/* Media queries for screens wider than 1280px */
@media screen and (min-width: $desktop-width) {
.event-modal {
  width: 1034px;
  height: 918px;
  border: 1px solid #4C00FE;
}

#modal-event-details {
  margin-left: 74px;
  display: block;
}


.event-close-btn {
  width: 25px;
  height: 25px;
  top: 32px;
  right: 32px;

}

.pic-circle {
  width: 132px;
  height: 132px;
  margin: auto auto 40px auto;

}

.pic {
  display: block;
  max-width: 427px;
  max-height: 326px;
}

.pic img {
  width: 100%;
  object-fit: cover;
}

.modal-info {
  width: 427px;
  height: 124px;
}

.modal-info strong, .when strong, .where strong, .who strong, .prices strong {
  font-size: 24px;
}

.event-info {
  margin-top: 7px;
  width: 427px;
  max-height: 88px;
}

.event-info p, .when p, .where p, .who p, .prices p {
  font-size: 18px;
}

.when, .where {
  width: 427px;
  height: auto;
}

.when, .where, .who, .prices {
  margin-top: 20px;
  color: black;
}

.who {
  text-align: left;;
}

.when-info {
 max-height: 44px;
 width: 100%;
}

.where-info {
  width: 100%;
}

.prices {
  margin-top:20px;
  width: 542px;
  height: 118px;
  align-items: baseline;
  color: black;
}

.prices .price-item {
  align-items: flex-start;
}

.prices-container {
  align-items: center;
  flex-direction: row;
  gap: 60px;
}

.standard-price, .vip-price {
  margin-bottom: 20px;
}

.price-item p {
  white-space: nowrap; 
  font-size: 18px;
  max-width: 100%;
  text-align: left;
}

.barcode {
  width: 29px;
  height: 19px;;
}

.more-button {
 margin-left: 309px;
 margin-top: 60px;
 width: 255px;
}
}